@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css');

.background-banner {
  background-image: linear-gradient(45deg, rgb(51 43 43 / 75%), rgb(20 19 20 / 61%)), url('https://s3.ap-northeast-2.amazonaws.com/materials.spartacodingclub.kr/webjong/images/main_festival.jpg');
  max-height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
a {
  text-decoration: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5ch;
  background-color: wheat;
}
.nav-left {
  display: flex;
}
.nav-left:first-child {
  margin-left: 25px;
}
.nav-left > .nav {
  padding-right: 15px;
}

.nav-right:last-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.header {
  background-color: khaki;
  height: 35ch;
}
.wrapper {
  background-color: palegreen;
}
.column {
  display: flex;
  align-items: center;
  margin: 40px 75px;
  background-color: pink;
  height: 25ch;
  border-radius: 10px;
}
.image {
  background-color: aliceblue;
  height: 17ch;
  width: 17ch;
  margin-left: 45px;
  border-radius: 10px;
}
.column-body {
  width: 100%;
}
.title {
  background-color: orange;
  margin: 15px 50px;
}
.first-text {
  background-color: turquoise;
  margin: 15px 50px;
}
/* .delete {} */
.delete-btn {
  margin: 0px;
  padding: 10px;
  height: 30px;
  text-align: center;
}
