<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Relay</title>
    <!-- style -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='./css/register_style.css') }}"
    />
    <!-- googlefont -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gabarito&family=Pixelify+Sans&display=swap"
      rel="stylesheet"
    />
    <!-- jquery -->
    <script
      src="https://code.jquery.com/jquery-2.2.4.js"
      integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
      crossorigin="anonymous"
    ></script>
    
  </head>
  <body>
    <div class="base">
      <div class="left"></div>
      <div class="right">
        <div class="formContainer">
          <div class="loginContainer">
            <span>이미 회원이신가요?</span>
            <button
              class="loginBtn"
              onclick="window.location.href='{{ url_for( 'login' ) }}';"
            >
              로그인
            </button>
          </div>

          <span class="title">Welcome to Relay!</span>
          <span class="subtitle">정보를 입력해주세요.</span>
          {% with messages = get_flashed_messages() %} {% if messages %}
          <p>{{ messages }}</p>
          {% endif %} {% endwith %}
          <form id="register_form" class="form" action="{{ url_for('register') }}" method="post">
            <div class="inputContainer">
              <div class="msgContainer">
                <span class="inputTitle">ID</span>
                <span id="idMsg" class="errorMsg"></span>
              </div>

              <input
                type="text"
                id="id_user"
                name="id_user"
                placeholder="아이디를 입력해주세요."
                autocomplete="none"
                required
              />
            </div>
            <div class="inputContainer">
              <div class="msgContainer">
                <span class="inputTitle">Name</span>
                <span id="nameMsg" class="errorMsg"></span>
              </div>
              <input
                type="text"
                id="name"
                name="name"
                placeholder="이름을 입력해주세요."
                autocomplete="none"
                required
              />
            </div>
            <div class="inputContainer">
              <div class="msgContainer">
                <span class="inputTitle">Password</span>
                <span id="pwMsg" class="errorMsg"></span>
              </div>
              <input
                id="pw"
                type="password"
                name="password"
                placeholder="비밀번호를 입력해주세요."
                required
              />
            </div>
            <div class="inputContainer">
              <div class="msgContainer">
                <span class="inputTitle">Confirm Password</span>
                <span id="pwConfirmMsg" class="errorMsg"></span>
              </div>
              <input
                id="pwConfirm"
                type="password"
                name="passwordCornfirm"
                placeholder="비밀번호를 한번 더 입력해주세요."
                required
              />
            </div>
            <button id="submit" class="registerBtn" type="submit">
              Sign Up
            </button>
          </form>
        </div>
      </div>
    </div>
    <script>
      // DOM 가져오기
      const $id = document.getElementById("id_user");
      const $idMsg = document.getElementById("idMsg");
      const $name = document.getElementById("name");
      const $nameMsg = document.getElementById("nameMsg");
      const $pw = document.getElementById("pw");
      const $pwMsg = document.getElementById("pwMsg");
      const $pwConfirm = document.getElementById("pwConfirm");
      const $pwConfirmMsg = document.getElementById("pwConfirmMsg");
      const $submitBtn = document.getElementById("submit");
      const $register_form = document.getElementById("register_form");
  
      // ID input 자동 포커스
      window.addEventListener("load", () => $id.focus());
  
      // 정규식
      // 아이디 : 5~20자의 영문 소문자, 숫자와 특수기호(_),(-)만 사용 가능합니다.
      var ID_REGEX = new RegExp("^[a-z0-9_-]{5,20}$");
      // 비밀번호 : 8~16자 영문 대 소문자, 숫자를 사용하세요.
      var PW_REGEX = new RegExp("^[a-zA-Z0-9]{8,16}$");
  
      // 에레메세지 객체 생성
      const ERROR_MSG = {
        required: "필수 정보입니다.",
        invalidId:
          "5~20자의 영문 소문자, 숫자와 특수기호(_),(-)만 사용 가능합니다.",
        invalidPw: "8~16자 영문 대 소문자, 숫자를 사용하세요.",
        invalidPwCheck: "비밀번호가 일치하지 않습니다.",
      };
  
      // 유효성 검사 로직 생성
      const checkRegex = (target) => {
        // destructuring 구조분해할당
        // destructuring = const value = target.value; const id = target.id
        const { value, id } = target;
        if (value.length === 0) {
          return "required";
        } else {
          switch (id) {
            case "id_user":
              return ID_REGEX.test(value) ? true : "invalidId";
            case "name":
              return true;
            case "pw":
              return PW_REGEX.test(value) ? true : "invalidPw";
            case "pwConfirm":
              return value === $pw.value ? true : "invalidPwCheck";
          }
        }
      };
  
      // 유효성 검사 로직 실행 및 css를 위한 class 추가
      const checkValidation = (target, msgTarget) => {
        const isValid = checkRegex(target);
        if (isValid !== true) {
          target.classList.add("border-red");
          msgTarget.innerText = ERROR_MSG[isValid];
        } else {
          target.classList.remove("border-red");
          msgTarget.innerText = "";
        }
      };
  
      // 로직 실행
      $id.addEventListener("focusout", () => checkValidation($id, $idMsg));
      $name.addEventListener("focusout", () => checkValidation($name, $nameMsg));
      $pw.addEventListener("focusout", () => checkValidation($pw, $pwMsg));
      $pwConfirm.addEventListener("focusout", () =>
        checkValidation($pwConfirm, $pwConfirmMsg)
      );
  
      // 추후 추가될 예정
      // // 제출 버튼 누를 경우 유효성 검사
      // $submitBtn.addEventListener("click", (event) => {
      //   event.preventDefault();
      //   const isValidForm =
      //     checkRegex($id, $idMsg) === true &&
      //     checkRegex($name, $nameMsg) === true &&
      //     checkRegex($pw, $pwMsg) === true &&
      //     checkRegex($pwConfirm, $pwConfirmMsg) === true;
      //   if (isValidForm) {
      //     let data = new FormData($register_form);
   
      //       $.ajax({
      //       type: "POST",
      //       url: "/register",
      //       data: data,
      //       contentType: false,
      //       processData: false,
      //       success: (res) => {
      //         console.log(res);
      //       },
      //     });
      //   }
      // });
    </script>
  </body>
  
</html>
